.CreateModal {
    position: relative;
    top: 100px;
    margin-top: 20px;
}

.CreateModal span {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    color: var(--darkBlue);
    font-weight: 700;
    text-transform: uppercase;
    height: 50px;
    padding: 10px;
    position: relative;
    top: -20px
}